:root{
    color:black;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
    background-color: lavender;
    color: rgb(70, 0, 70);
    border: rgb(70, 0, 70) solid 2px;
    border-radius: 10px;
    width: 97.5%;
    top: 0;
}

#start-quiz-button{
    align-items: center;
    padding: 1%;
    border-radius: 10px;
}

#start-quiz-button:hover {
    border: 3px solid;
    box-shadow: 0 0 10px rgb(70, 0, 70) inset;
}

/* Quiz Section */
.quiz-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1%;
    background-color: lavender;
    display: none;

}

#question{
    color: rgb(70, 0, 70);

} 


#answer-choices{

}
/* 
.highscoreinput{

}

.intro-section{

}

.time{

} 

#answerchoice{

}
 */