:root{
    color:black;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
    background-color: lavender;
    color: rgb(70, 0, 70);
    border: rgb(70, 0, 70) solid 2px;
    border-radius: 10px;
    width: 97.5%;
    top: 0;
}

li{
    background-color: rgb(227, 211, 241);
    color: rgb(70, 0, 70);
    width: auto;
    padding: 2%;
    border-radius: 10px;
    border:rgb(70, 0, 70) solid 2px;
}

#start-quiz-button{
    align-items: center;
    padding: 1%;
    border-radius: 10px;
}

#start-quiz-button:hover {
    border: 3px solid;
    box-shadow: 0 0 10px rgb(70, 0, 70) inset;
}

/* Quiz Section */
.quiz-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1%;
    background-color: lavender;
    display: none;

}

#question, #correct-or-incorrect{
    color: rgb(70, 0, 70);
    margin: 2% 6%;
} 


/* #answer-choices{
    

} */


/* 
.highscoreinput{

}

.intro-section{

}

.time{

} 

#answerchoice{

}
 */