:root{
    color:black;
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
    background-color: lavender;
    color: rgb(70, 0, 70);
    border: rgb(70, 0, 70) solid 2px;
    border-radius: 10px;
    width: 97.5%;
    top: 0;
}

li{
    background-color: rgb(227, 211, 241);
    color: rgb(70, 0, 70);
    width: 90%;
    padding: 2%;
    border-radius: 10px;
    border:rgb(70, 0, 70) solid 2px;
}
body{
    background-image: linear-gradient(to right, rgb(141, 180, 238), rgb(137, 137, 223));
}

/* Header */
#highscores-link{
    background-color: rgb(162, 214, 235);
    border-radius: 10px;
    border: rgb(70, 0, 70) solid 2px;
    padding: 1%;
    text-decoration: none;
}

#highscores-link:hover {
    border: 3px solid;
    box-shadow: 0 0 10px rgb(70, 0, 70) inset;
}

#start-quiz-button{
    background-color: rgb(162, 214, 235);
    color: rgb(70, 0, 70);
    font-size: 15px;
    align-items: center;
    padding: 1%;
    border-radius: 10px;
}

#start-quiz-button:hover {
    border: 3px solid;
    box-shadow: 0 0 10px rgb(70, 0, 70) inset;
}


/* Quiz Section */
.quiz-section{
    justify-content: flex-start;
    align-items: center;
    padding: 1%;
    background-color: lavender;
    display: none;
    border-radius: 10px;
    border: rgb(70, 0, 70) solid 2px;
}

#question, #correct-or-incorrect{
    color: rgb(70, 0, 70);
    margin: 2% 6%;
} 

#answer-choices{
    list-style-type: none;
} 

/* Highscore Page */


.highscore-list{
    color: rgb(70, 0, 70);
    width: 100%;
    padding: 2%;
    list-style-type: none;
    text-align: center;
} 





